article {
    color: #FFF;
    background-color: rgba(31, 31, 31, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    z-index: 1;
    right: 10%;
    bottom: 10%;
    width: fit-content;
    height: max-content;
    padding: 6px;
}

.btn {
    font-size: 28px;
    background-color: rgb(31,31,31);
    color: rgb(110, 0, 161);
    border-color: #FFF;
}