.App-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1 !important;
}

.App-header > h1 {
    background-color: #FFF;
    cursor: pointer;
}

.App-header > h1, p {
    padding: 0;
    margin: 0;
}

.App-header > input {
    height: 28px;
}

.date {
    color: rgb(235, 0, 243);
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.date > p {
    color: rgb(235, 0, 243);
    text-shadow: -1px 1px 0 #FFF,
            1px 1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px -1px 0 #FFF;
    font-weight: bold;
    font-size: 18px;
}

.date-ctrl > input {
    width: 100%;
    padding: 0;
    cursor: pointer;
}

.date-ctrl {
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}

.header {
    font-size: 72px;
    margin:0;
    color: rgb(235, 0, 243);
    text-shadow: -1px 1px 0 #FFF,
            1px 1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px -1px 0 #FFF;
    background: rgba(253, 253, 253, 0.8);
    border: none;
    cursor: pointer;
    outline: none;
}

.nav-links {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    z-index: 1 !important;
}