.App-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1 !important;
}

.App-header > h1 {
    background-color: #FFF;
}

.App-header > h1, p {
    padding: 0;
    margin: 0;
}

.App-header > input {
    height: 28px;
}
